.breadcrumbs {

  @include vp-1024 {
    padding: 20px 0 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__link {
    font-size: 13px;
    line-height: 16px;
    position: relative;
    display: flex;
    color: $color-storm-grey-1;

    @include vp-1024 {
      font-size: 14px;
      line-height: 18px;
    }

    &::after {
      content: "";
      height: 3px;
      width: 3px;
      background-color: $color-storm-grey-1;
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:not(a) {
      color: $color-black-russian;
    }
  }
}