.custom-search {
  position: relative;
  width: 260px;

  @media(max-width: 1280px) {
    width: 200px;
  }

  &__field {
    font-family: inherit;
    padding: 13px 40px 13px 10px;
    border: none;
    border-bottom: 2px solid $color-pink-swan;
    width: 100%;
    color: $color-verdun-green;
    font-size: 14px;
    line-height: 14px;
    transition: border-color $transition-300;
  }
  
  &__field:hover {
    border-color: $color-verdun-green-70;
  }
  
  &__field:hover + &__icon {
    color: $color-verdun-green-70;
  }
  
  &__field:focus-visible {
    border-color: $color-verdun-green;
    outline: none;
  }
  
  &__field:focus-visible + &__icon {
    color: $color-verdun-green;
  }
  
  &__field::placeholder {
    color: $color-pink-swan;
  }
  
  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-pink-swan;
    transition: color $transition-300;
  }
}