* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", sanf-serif;
    margin: 0;
    padding: 40px 30px;
    background: #DEDEDE;
}

.form {
    background: #FFFFFF;
    border-radius: 20px;
    width: 350px;
    margin: 30px auto;
    padding: 30px;
}

.form__title {
    margin-top: 0;
}

.form__links {
    display: flex;
    justify-content: space-between;
}

.form__link:hover {
    color: #008A04;
}

.form__link:visited {
    color: #DE30EE;
}

.form__input {
    width: 100%;
    line-height: 1.8em;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 0;
    border: 2px solid #808080;
}

.form__input:hover {
    border-color: #0077ff;
}

.form__input:disabled {
    background-color: #DEDEDE;
}

.form__input:disabled:hover {
    border-color: #000000;
}

.form__button {
    margin-top: 10px;
    width: 100%;
    background: #116D6E;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.form__button:hover {
    color: #000000;
    background-color: #68DAFF;
}

/* .form__button:focus {
	background-color: #00BD8B;
	color: #000000;
} */

.form__button:focus-visible {
    background-color: #FFAEFF;
    color: #000000;
}

.form__button:active {
    background-color: #FA8C26;
    color: #000000;
}

.form__accept {
    margin: 15px 0 10px;
}

.form__checkbox {
    margin-left: 0;
    cursor: pointer;
}

.form__checkbox:checked ~ .form__welcome {
    color: #000000;
}

.form__welcome {
    color: #D3D3D3;
}