.was-sent {
    padding: 16px;
    background-color: #3C52E6;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.was-sent--active {
    display: block;
}

.was-sent__inner {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    width: 260px;
}

.was-sent__heading {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.was-sent__time {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}